<!DOCTYPE html>
<html>
<head>
  <title>Backbone Notes App</title>
  <!-- Load Bootstrap & Local Styles -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

  <div class="container">
    <div class="page-header center-text">
      <h1>Backbone Notes App</h1>
      <p class="sub-header">
        Write some notes, and save them in Backbone Local storage! What's not
        to love?
      </p>
    </div>

    <div class="row">
      <div class="col-xs-10 col-sm-4 col-sm-offset-4" id="template-body">
        <!-- Rendered Templates Go Here -->
      </div>
    </div>
  </div>

  <!-- *** Templates Go Here: *** -->

  <!-- Index Template -->

  <script type="text/template" id="indexTemplate">
    <div class="create-note-button-wrapper row center-text">
        <a class="btn btn-primary col-xs-10 col-sm-4" href="#note/new">Create a New Note</a>
    </div>

    <% if (_.isEmpty(notes)){ %>
      <div class="alert">
        <p>You haven't created any notes yet. Go ahead!</p>
      </div>
    <% } %>
  </script>

  <!-- Create & Edit Form Template -->
  <script type="text/jst" id="formTemplate">
    <div class="note-form row center-text">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="note-form__header">
          <h3><%= message || "Create a Note:" %></h3>
        </div>
        <form>
          <div class="note-form__group">
            <label for="note-form__title">Title:</label><br>
            <input type="text" class="note-form__title" placeholder="Note to Self" value="<%= message %>">
          </div>
          <div class="note-form__group">
            <label for="note-form__message">Message:</label><br>
            <textarea placeholder="Pick up Broccoli..." class="note-form__message"><%= message %></textarea>
          </div>
          <div class="note-form__group">
            <button type="submit" class="save btn btn-primary">Save</button>
            <a href="#notes/index" class="cancel btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </script>

  <!-- Load Backbone Dependencies -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>

  <!-- Load Local Scripts -->
  <script src="js/notes_router.js"></script>
  <script src="js/note_model.js"></script>
  <script src="js/views/note_index.js"></script>
  <script src="js/views/note_new.js"></script>
  <script>
    const app = new APP.NotesRouter();
  </script>
</body>
</html>
