<!DOCTYPE html>
<html>
<head>
  <title>Backbone Notes App</title>
  <!-- Load Bootstrap & Local Styles -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

  <div class="container">
    <div class="page-header text-center row">
      <div class="col-md-12">
        <img src="./img/backbone-logo.png" alt="Backbone Notes App" class="logo">
        <h1>Backbone Notes App</h1>
        <p class="sub-header">
          Write some notes, and save them in Backbone Local storage! What's not
          to love?
        </p>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" id="template-body">
        <!-- Rendered Templates Go Here -->
      </div>
    </div>
  </div>

  <!-- *** Templates Go Here: *** -->

  <!-- Index Template -->
  <script type="text/template" id="indexTemplate">
    <div class="create-note-button-wrapper row text-center">
        <a class="btn btn-primary col-xs-10 col-sm-6" href="#note/new">Create a New Note</a>
    </div>

    <% if (_.isEmpty(notes)){ %>
      <div class="alert text-center">
        <p>You haven't created any notes yet. Go ahead!</p>
      </div>
    <% } %>

    <% _.each(notes, (note) => { %>
      <div class="note text-center">
        <h4 class="note__title"><%= note.title %></h4>
        <p class="note__message well center-block"><%= note.message %></p>
        <div class="note__buttons">
          <a class="edit btn btn-primary" href="#note/<%= note.id %>/edit">Edit</a>
          <a class="delete btn btn-danger" href="#note/<%= note.id %>/delete">Delete</a>
        </div>
      </div>
    <% }); %>
  </script>

  <!-- Create & Edit Form Template -->
  <script type="text/jst" id="formTemplate">
    <div class="note row text-center">
      <div class="col-xs-10 col-xs-offset-1">
        <div>
          <h3><%= message || "Create a Note:" %></h3>
        </div>
        <form>
          <div class="note__group">
            <label for="note__title">Title:</label><br>
            <input type="text" name="title" class="note__title" placeholder="Note to Self" value="<%= title %>">
          </div>
          <div class="note__group">
            <label for="note__message">Message:</label><br>
            <textarea placeholder="Pick up Broccoli..." name="message" class="note__message"><%= message %></textarea>
          </div>
          <div className="note__buttons">
            <button type="submit" class="save btn btn-primary">Save</button>
            <a href="#notes/index" class="cancel btn btn-danger">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </script>

  <!-- Load Backbone Dependencies -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>

  <!-- Load Local Scripts -->
  <script src="js/notes_router.js"></script>
  <script src="js/note_model.js"></script>
  <script src="js/views/note_index.js"></script>
  <script src="js/views/note_new.js"></script>
  <script src="js/views/note_edit.js"></script>
  <script>
    const app = new APP.NotesRouter();
  </script>
</body>
</html>
